src/rxnfit/__pycache__/
.ipynb_checkpoints/
.DS_Store
src/.DS_Store
src/rxnfit/.DS_Store
rxnfit_sample_script_2.ipynb
rxnfit_sample_script_3.ipynb
venv*
build/
*.egg-info/
dist/
docs/build/*
!docs/build/
